<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StrikingDash</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <!-- inject:css-->
    <link th:href="@{/assets/vendor_assets/css/bootstrap/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/daterangepicker.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/fontawesome.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/footable.standalone.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/fullcalendar@5.2.0.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/jquery-jvectormap-2.0.5.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/jquery.mCustomScrollbar.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/leaflet.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/line-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/magnific-popup.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/MarkerCluster.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/MarkerCluster.Default.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/select2.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/slick.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/star-rating-svg.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/trumbowyg.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/wickedpicker.min.css}" rel="stylesheet">
    <link th:href="@{/style.css}" rel="stylesheet">

    <!-- endinject -->

    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">
</head>
<style>
    .dropdown {
        display: inline-block;
        background-color: white;
    }
    .media-ui--completed .test{
        background: #fa8b0c;
    }
</style>
<body class="layout-light side-menu overlayScroll">
<div class="mobile-search">
    <form class="search-form">
        <span data-feather="search"></span>
        <input class="form-control mr-sm-2 box-shadow-none" type="text" placeholder="Search...">
    </form>
</div>

<div class="mobile-author-actions"></div>
<div th:replace="include/header :: header" ></div>
<main class="main-content">


    <div class="contents">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12"><br>

                    <div class="container-fluid">
                        <!-- Autres contenus de la page -->
                        <div th:if="${message}" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong><span th:text="${message}"></span></strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <!-- Suite du contenu de la page -->
                    </div>
                    <div class="container-fluid">
                        <!-- Autres contenus de la page -->
                        <div th:if="${messagesu}" class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong><span th:text="${messagesu}"></span></strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <!-- Suite du contenu de la page -->
                    </div>

                    <div class="breadcrumb-main user-member justify-content-sm-between ">
                        <div class=" d-flex flex-wrap justify-content-center breadcrumb-main__wrapper">
                            <div class="d-flex align-items-center user-member__title justify-content-center mr-sm-25">
                                <span class="sub-title ml-sm-25 pl-sm-25" th:text="${count+' taches'}"></span>
                            </div>






                        </div>
                        <div class=" d-flex flex-wrap justify-content-center breadcrumb-main__wrapper">
                            <form class="d-flex align-items-center user-member__form my-sm-0 my-2" th:action="@{/user/tacheu}" method="get">
                                <span data-feather="search"></span>
                                <input class="form-control mr-sm-2 border-0 box-shadow-none" type="search" name="search" th:value="${search}" placeholder="Recherche" aria-label="Search">
                            </form>
                        </div>
                        <div class=" d-flex flex-wrap justify-content-center breadcrumb-main__wrapper">
                            <div class="dropdown d-inline-block ml-2">
                                <button class="btn btn-outline-lighten btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <!-- Utilisation de la syntaxe conditionnelle pour afficher le nom de la page active -->
                                    <span th:text="${activePage == 'tacheu' ? 'La liste des taches' :
      activePage == 'tacheu-termine' ? 'La liste des taches terminé' :
      activePage == 'tacheu-encours' ? 'La liste des taches en cours' :
      activePage == 'tacheu-noncommence' ? 'La liste des taches non commencé' :
      'Sélectionner un code'}"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <ul>
                                        <li><a class="dropdown-item" href="/user/tacheu" >La liste des taches</a></li>
                                        <li><a class="dropdown-item" href="/user/tacheu-termine" >La liste des taches terminé</a></li>
                                        <li><a class="dropdown-item" href="/user/tacheu-encours" >La liste des taches en cours</a></li>
                                        <li><a class="dropdown-item" href="/user/tacheu-noncommence" >La liste des taches non commencé</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="action-btn">
                            <a href="#" class="btn px-15 btn-primary" data-toggle="modal" data-target="#new-member">
                                <i class="las la-plus fs-16"></i>Créer une tache</a>


                            <!-- Modal -->
                            <div class="modal fade new-member" id="new-member" role="dialog" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content  radius-xl">
                                        <div class="modal-header">
                                            <h6 class="modal-title fw-500" id="staticBackdropLabel">Ajouter Un Membre</h6>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span data-feather="x"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->


                        </div>
                    </div>


                </div>
            </div>



            <!-- Tab Menu End -->
            <div class="projects-tab-content projects-tab-content--progress">
                <div class="tab-content mt-25" id="ap-tabContent">

                    <div class="container">


                        <div class="row" id="project-list" th:if="${task.size() > 0}">
                            <div class="col-xl-4 mb-25 col-md-6 project-item" th:each="task : ${task}">
                                <div class="user-group radius-xl bg-white media-ui media-ui--completed pt-30 pb-25">
                                    <div class="border-bottom px-30">
                                        <div class="media user-group-media d-flex justify-content-between">
                                            <div class="media-body d-flex align-items-center text-capitalize">
                                                <a href="application-ui.html">
                                                    <h6 class="mt-0  fw-500 media-ui__title" th:text="${task[0].title}"></h6>
                                                </a>
                                                <span class="media-badge text-uppercase color-white bg-success" th:if="${(task[0].etat == 100)  and(task[0].datef >= task[0].datefu)  }">Terminé</span>
                                                <span class="media-badge text-uppercase color-white bg-warning" th:if="${(task[0].etat == 100)  and(task[0].datef < task[0].datefu)}">Terminé en retard</span>
                                                <span class="media-badge text-uppercase color-white bg-warning" th:if="${(task[0].etat < 100) and (task[0].etat>0)  and ( (task[0].datef >= task[0].datefu) and (T(java.time.LocalDate).parse(task[0].datef) >= #temporals.createToday())) }">En cours</span>
                                                <span class="media-badge text-uppercase color-white bg-warning" th:if="${(task[0].etat == 0  ) and (T(java.time.LocalDate).parse(task[0].datef) >= #temporals.createToday()) and (task[0].datedu == '0') }">Pas encore commencé</span>
                                                <span class="media-badge text-uppercase color-white bg-danger" th:if="${(task[0].etat == 101)}">Annulé</span>
                                                <span class="media-badge text-uppercase color-white bg-danger" th:if="${  (task[0].etat != 100) and ((task[0].datef < task[0].datefu) or (T(java.time.LocalDate).parse(task[0].datef) < #temporals.createToday())) }">retardé</span>
                                            </div>
                                        </div>
                                        <div class="user-group-people mt-15 text-capitalize">
                                            <p th:text="${task[0].description}"></p>
                                            <div class="user-group-project">
                                                <div class="d-flex align-items-center user-group-progress-top">
                                                    <div class="media-ui__start">
                                                        <span class="color-light fs-12">Start Date</span>
                                                        <p class="fs-14 fw-500 color-dark mb-0" th:text="${task[0].dated}"></p>
                                                    </div>
                                                    <div class="media-ui__end">
                                                        <span class="color-light fs-12">end date</span>
                                                        <p class="fs-16 fw-500 color-success mb-0" th:text="${task[0].datef}"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="user-group-progress-bar">
                                            <div class="progress-wrap d-flex align-items-center mb-0" th:if="${ (task[0].etat != 100) and (task[0].etat != null) and (T(java.time.LocalDate).parse(task[0].datef) >= #temporals.createToday()) }">

                                                <div class="progress" >

                                                    <div class="progress-bar bg-warning" role="progressbar"    th:style="'width: ' + ${task[0].etat} + '%;'"  aria-valuenow="83" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>


                                                <span class="progress-percentage" th:text="${(task[0].etat * 1).intValue()} + '%'"></span>


                                            </div>

                                            <div class="progress-wrap d-flex align-items-center mb-0" th:if="${ (task[0].etat != 100) and (T(java.time.LocalDate).parse(task[0].datef) < #temporals.createToday()) }">

                                                <div class="progress" >

                                                    <div class="progress-bar bg-danger" role="progressbar"    th:style="'width: ' + ${task[0].etat} + '%;'"  aria-valuenow="83" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>


                                                <span class="progress-percentage" th:text="${(task[0].etat * 1).intValue()} + '%'"></span>


                                            </div>

                                            <div class="progress-wrap d-flex align-items-center mb-0" th:if="${ (task[0].etat == 100) and (task[0].datef >= task[0].datefu) }">
                                                <div class="progress">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>



                                                <span class="progress-icon"><span class="color-success" data-feather="check"></span></span>

                                            </div>

                                            <div class="progress-wrap d-flex align-items-center mb-0" th:if="${ (task[0].etat == 100) and (task[0].datef < task[0].datefu) }">
                                                <div class="progress">
                                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>



                                                <span class="progress-icon test"><span class="color-warning" data-feather="check"></span></span>

                                            </div>


                                            <p class="color-light fs-12 mb-20" th:if="${(task[0].etat != null) }" th:text="${(task[0].etat * 1).intValue()} + '% des taches réalisées'"></p>


                                        </div>
                                    </div>

                                    <div class="ap-button account-profile-cards__button button-group d-flex justify-content-center flex-wrap pt-20" th:if="${(T(java.time.LocalDate).parse(task[0].datef) >= #temporals.createToday()) || (task[0].etat == 100)}">
                                        <a th:href="@{/user/DetailTacheU/{id}(id=${task[0].id})}">
                                            <button type="button" class="border text-capitalize px-25 color-gray transparent shadow2 radius-md">
                                                Voir</button></a>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row" th:unless="${task.size() > 0}">
                            <div class="col-lg-12">
                                <p class="text-center">Aucune tâche trouvée.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Barre de pagination (affichée seulement si nécessaire) -->
                    <div class="row" th:if="${task.size() > 0}">
                        <div class="col-lg-12">
                            <div class="d-flex justify-content-sm-end justify-content-star mt-1 mb-30">
                                <nav class="atbd-page">
                                    <ul class="atbd-pagination d-flex">
                                        <li class="atbd-pagination__item">
                                            <a href="#" class="atbd-pagination__link pagination-control">
                                                <span class="la la-angle-left"></span>
                                            </a>
                                            <a href="#" class="atbd-pagination__link" th:if="${currentPage > 0}"
                                               th:href="@{/user/tacheu(search=${search}, page=${currentPage - 1})}">
                                                <span class="page-number">Précédent</span>
                                            </a>
                                            <span th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
                            <a href="#" class="atbd-pagination__link" th:href="@{/user/tacheu(search=${search}, page=${pageNumber})}"
                               th:classappend="${pageNumber == currentPage} ? 'active' : ''">
                                <span class="page-number" th:text="${pageNumber + 1}"></span>
                            </a>
                        </span>
                                            <a href="#" class="atbd-pagination__link" th:if="${currentPage < totalPages - 1}"
                                               th:href="@{/user/tacheu(search=${search}, page=${currentPage + 1})}">
                                                <span class="page-number">Suivant</span>
                                            </a>
                                            <a href="#" class="atbd-pagination__link pagination-control">
                                                <span class="la la-angle-right"></span>
                                            </a>
                                            <a href="#" class="atbd-pagination__option"></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>

    </div>
    <div class="modal-info-delete modal fade show" id="modal-info-delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-info" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-info-body d-flex">
                        <div class="modal-info-icon warning">
                            <span data-feather="info"></span>
                        </div>
                        <div class="modal-info-text">
                            <h6>Voulez-vous supprimer <span id="modal-nom-display"></span>?</h6>
                        </div>
                    </div>
                </div>
                <form th:action="@{/user/tache/delete}" method="post">
                    <div class="modal-footer">
                        <input type="hidden" class="form-control" id="modal-id" name="id" readonly>
                        <button type="button" class="btn btn-danger btn-outlined btn-sm" data-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-success btn-outlined btn-sm" >Oui</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-copyright">
                        <p>2020 @<a href="#">Aazztech</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-menu text-right">
                        <ul>
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Team</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <!-- ends: .Footer Menu -->
                </div>
            </div>
        </div>
    </footer>
</main>
<div id="overlayer">
        <span class="loader-overlay">
            <div class="atbd-spin-dots spin-lg">
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
            </div>
        </span>
</div>
<div class="overlay-dark-sidebar"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $(".project-item").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script>
    $(document).ready(function() {
        $('#modal-info-delete').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);
            const idValue = button.attr('data-id');
            const nomValue = button.attr('data-nom');

            $("#modal-nom-display").text(nomValue);
            $("#modal-id").val(idValue);
        });

        // When the 'Yes' button in the modal is clicked, retrieve the 'id' value and do something with it
        $(".btn-success").click(function() {
            const idValue = $("#modal-id").val();
            const nomValue = $("#modal-nom-display").text();
            // Now you can use the 'idValue' and 'nomValue' variables in your code to perform the necessary action with the ID and name.
            console.log("ID to be deleted:", idValue);
            console.log("Name to be deleted:", nomValue);
        });
    });
</script>

<!-- inject:js-->
<script th:src="@{/assets/vendor_assets/js/jquery/jquery-3.5.1.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/jquery/jquery-ui.js}"></script>
<script th:src="@{/assets/vendor_assets/js/bootstrap/popper.js}"></script>
<script th:src="@{/assets/vendor_assets/js/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/moment/moment.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/accordion.js}"></script>
<script th:src="@{/assets/vendor_assets/js/autoComplete.js}"></script>
<script th:src="@{/assets/vendor_assets/js/Chart.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/charts.js}"></script>
<script th:src="@{/assets/vendor_assets/js/daterangepicker.js}"></script>
<script th:src="@{/assets/vendor_assets/js/drawer.js}"></script>
<script th:src="@{/assets/vendor_assets/js/dynamicBadge.js}"></script>
<script th:src="@{/assets/vendor_assets/js/dynamicCheckbox.js}"></script>
<script th:src="@{/assets/vendor_assets/js/feather.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/footable.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/fullcalendar@5.2.0.js}"></script>
<script th:src="@{/assets/vendor_assets/js/google-chart.js}"></script>
<script th:src="@{/assets/vendor_assets/js/jquery-jvectormap-2.0.5.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{/assets/vendor_assets/js/jquery.countdown.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/jquery.filterizr.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/jquery.mCustomScrollbar.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/jquery.peity.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/jquery.star-rating-svg.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/leaflet.js}"></script>
<script th:src="@{/assets/vendor_assets/js/leaflet.markercluster.js}"></script>
<script th:src="@{/assets/vendor_assets/js/loader.js}"></script>
<script th:src="@{/assets/vendor_assets/js/message.js}"></script>
<script th:src="@{/assets/vendor_assets/js/moment.js}"></script>
<script th:src="@{/assets/vendor_assets/js/muuri.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/notification.js}"></script>
<script th:src="@{/assets/vendor_assets/js/popover.js}"></script>
<script th:src="@{/assets/vendor_assets/js/select2.full.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/slick.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/trumbowyg.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/wickedpicker.min.js}"></script>
<script th:src="@{/assets/theme_assets/js/drag-drop.js}"></script>
<script th:src="@{/assets/theme_assets/js/footable.js}"></script>
<script th:src="@{/assets/theme_assets/js/full-calendar.js}"></script>
<script th:src="@{/assets/theme_assets/js/googlemap-init.js}"></script>
<script th:src="@{/assets/theme_assets/js/icon-loader.js}"></script>
<script th:src="@{/assets/theme_assets/js/jvectormap-init.js}"></script>
<script th:src="@{/assets/theme_assets/js/leaflet-init.js}"></script>
<script th:src="@{/assets/theme_assets/js/main.js}"></script>
<!-- endinject-->
</body>
<!-- Include jQuery (if not already included) -->





<script th:inline="javascript">
    $(document).ready(function() {
        $('#dateDebutInput').change(function() {
            var dateDebut = new Date($(this).val());
            var dateFinInput = $('#dateFinInput');
            var minDate = new Date(dateDebut.getTime() + 86400000); // Ajoute 1 jour à la date de début
            dateFinInput.attr('min', formatDate(minDate));
        });
    });

    function formatDate(date) {
        var year = date.getFullYear();
        var month = (date.getMonth() + 1).toString().padStart(2, '0');
        var day = date.getDate().toString().padStart(2, '0');
        return `${year}-${month}-${day}`;
    }
</script>



</html>