<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StrikingDash</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- inject:css-->
    <link th:href="@{/assets/vendor_assets/css/bootstrap/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/daterangepicker.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/fontawesome.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/footable.standalone.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/fullcalendar@5.2.0.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/jquery-jvectormap-2.0.5.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/jquery.mCustomScrollbar.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/leaflet.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/line-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/magnific-popup.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/MarkerCluster.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/MarkerCluster.Default.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/select2.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/slick.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/star-rating-svg.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/trumbowyg.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor_assets/css/wickedpicker.min.css}" rel="stylesheet">
    <link th:href="@{/style.css}" rel="stylesheet">

    <!-- endinject -->
    <style>
        .table {
            width: 100%;
            margin-bottom: 0rem;
            color: #212529;
        }
    </style>
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">
</head>

<body class="layout-light side-menu overlayScroll">
<div class="mobile-search">
    <form class="search-form">
        <span data-feather="search"></span>
        <input class="form-control mr-sm-2 box-shadow-none" type="text" placeholder="Search...">
    </form>
</div>

<div class="mobile-author-actions"></div>
<div th:replace="include/header :: header" ></div>
<main class="main-content">


    <div class="contents">

        <div class="container-fluid">
            <div class="row ">
                <div class="col-lg-12">

                    <div class="breadcrumb-main">
                        <h4 class="text-capitalize breadcrumb-title">Tableau de bord</h4>

                    </div>

                </div>


                <div th:if="${#request.isUserInRole('USER')}" class="col-md-3 mb-30">
                    <!-- Card 1 -->
                    <div class="ap-po-details p-25 radius-xl bg-white d-flex justify-content-between">
                        <div>

                            <div class="overview-content">
                                <h1 style="color: orange" th:text="${tacheEncours}"></h1>
                                <p style="color: orange">Tâche(s) en cours</p>
                            </div>

                        </div>
                    </div>
                    <!-- Card 1 End -->
                </div>
                <div th:if="${#request.isUserInRole('USER')}" class="col-md-3 mb-30">
                    <!-- Card 2 End  -->
                    <div class="ap-po-details p-25 radius-xl bg-white d-flex justify-content-between">
                        <div>





                            <div class="overview-content">
                                <h1 style="color: red" th:text="${tacheNonC}"></h1>
                                <p style="color: red">Tâche(s) pas encore commencée(s)</p>
                            </div>

                        </div>
                    </div>
                    <!-- Card 2 End  -->
                </div>
                <div th:if="${#request.isUserInRole('USER')}" class="col-md-3 mb-30">
                    <!-- Card 3 -->
                    <div class="ap-po-details p-25 radius-xl bg-white d-flex justify-content-between">
                        <div>





                            <div class="overview-content">
                                <h1 style="color: green" th:text="${tacheTermine}"></h1>
                                <p style="color: green">Tâche(s) terminé(s)</p>
                            </div>

                        </div>
                    </div>
                    <!-- Card 3 End -->
                </div>
                <div th:if="${#request.isUserInRole('USER')}" class="col-md-3 mb-30">
                    <!-- Card 1 -->
                    <div class="ap-po-details p-25 radius-xl bg-white d-flex justify-content-between">
                        <div>





                            <div class="overview-content">
                                <h1 th:text="${tacheProject}"></h1>
                                <p>projet(s) participant(s)</p>
                            </div>

                        </div>
                    </div>
                    <!-- Card 1 End -->
                </div>

                <div th:if="${#request.isUserInRole('ADMIN')}" class="col-md-3 mb-30">
                    <!-- Card 1 -->
                    <div class="ap-po-details p-25 radius-xl bg-white d-flex justify-content-between">
                        <div>

                            <div class="overview-content">
                                <h1 style="color: orange" th:text="${countE}"></h1>
                                <p style="color: orange">Tâche(s) en cours</p>
                            </div>

                        </div>
                    </div>
                    <!-- Card 1 End -->
                </div>
                <div th:if="${#request.isUserInRole('ADMIN')}" class="col-md-3 mb-30">
                    <!-- Card 2 End  -->
                    <div class="ap-po-details p-25 radius-xl bg-white d-flex justify-content-between">
                        <div>





                            <div class="overview-content">
                                <h1 style="color: red" th:text="${countN}"></h1>
                                <p style="color: red">Tâche(s) pas encore commencée(s)</p>
                            </div>

                        </div>
                    </div>
                    <!-- Card 2 End  -->
                </div>
                <div th:if="${#request.isUserInRole('ADMIN')}" class="col-md-3 mb-30">
                    <!-- Card 3 -->
                    <div class="ap-po-details p-25 radius-xl bg-white d-flex justify-content-between">
                        <div>





                            <div class="overview-content">
                                <h1 style="color: green" th:text="${countT}"></h1>
                                <p style="color: green">Tâche(s) terminé(s)</p>
                            </div>

                        </div>
                    </div>
                    <!-- Card 3 End -->
                </div>
                <div th:if="${#request.isUserInRole('ADMIN')}" class="col-md-3 mb-30">
                    <!-- Card 1 -->
                    <div class="ap-po-details p-25 radius-xl bg-white d-flex justify-content-between">
                        <div>





                            <div class="overview-content">
                                <h1 style="color: red" th:text="${countR}"></h1>
                                <p style="color: red">Tâche(s) Retardé(s)</p>
                            </div>

                        </div>
                    </div>
                    <!-- Card 1 End -->
                </div>
                <hr>
                <div th:if="${#request.isUserInRole('ADMIN')}" class="col-md-3 mb-30">
                    <!-- Card 1 -->
                    <div class="ap-po-details p-25 radius-xl bg-white d-flex justify-content-between">
                        <div>

                            <div class="overview-content">
                                <h1 style="color: orange" th:text="${countprojE}"></h1>
                                <p style="color: orange">Projet(s) en cours</p>
                            </div>

                        </div>
                    </div>
                    <!-- Card 1 End -->
                </div>
                <div th:if="${#request.isUserInRole('ADMIN')}" class="col-md-3 mb-30">
                    <!-- Card 2 End  -->
                    <div class="ap-po-details p-25 radius-xl bg-white d-flex justify-content-between">
                        <div>





                            <div class="overview-content">
                                <h1 style="color: red" th:text="${countprojN}"></h1>
                                <p style="color: red">Projet(s) pas encore commencée(s)</p>
                            </div>

                        </div>
                    </div>
                    <!-- Card 2 End  -->
                </div>
                <div th:if="${#request.isUserInRole('ADMIN')}" class="col-md-3 mb-30">
                    <!-- Card 3 -->
                    <div class="ap-po-details p-25 radius-xl bg-white d-flex justify-content-between">
                        <div>





                            <div class="overview-content">
                                <h1 style="color: green" th:text="${countprojT}"></h1>
                                <p style="color: green">Projet(s) terminé(s)</p>
                            </div>

                        </div>
                    </div>
                    <!-- Card 3 End -->
                </div>
                <div th:if="${#request.isUserInRole('ADMIN')}" class="col-md-3 mb-30">
                    <!-- Card 1 -->
                    <div class="ap-po-details p-25 radius-xl bg-white d-flex justify-content-between">
                        <div>





                            <div class="overview-content">
                                <h1 style="color: red" th:text="${countprojR}"></h1>
                                <p style="color: red">Projet(s) Retardé(s)</p>
                            </div>

                        </div>
                    </div>
                    <!-- Card 1 End -->
                </div>
                <div class="col-xxl-4 col-md-12 mb-30" th:if="${#request.isUserInRole('ADMIN')}">
                    <div class="card border-0">
                        <div class="card-header">
                            <h6>Les tâches en retard au démarrage</h6>
                            <div class="card-extra">
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="t_selling-today" role="tabpanel" aria-labelledby="t_selling-today-tab">
                                    <div class="leader-table-wrap">
                                        <div class="table-responsive" style="max-height: 290px; overflow-y: auto;">
                                            <table class="table table--default">
                                                <thead style="position: sticky; top: 0; background-color: #ffffff;">
                                                <tr>
                                                    <th>Tache</th>
                                                    <th>Membre</th>
                                                    <th>Date de début de la tache</th>
                                                    <th>Date de début du membre</th>
                                                </tr>
                                                </thead>
                                                <tbody th:each="tachesretdebut :${tachesretdebut}">
                                                <tr>
                                                    <td >
                                                        <a th:href="@{'/admin/DetailTache/' + ${tachesretdebut.id}}"> <!-- Replace 'task/details/' with your actual URL -->
                                                            <span th:text="${tachesretdebut.title}"></span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a th:href="@{'/admin/DetailTeam/' + ${tachesretdebut.users.username}}">
                                                            <img class="rounded-circle wh-34" th:src="${tachesretdebut.users.cheminImage}" alt="author">
                                                        </a>
                                                    </td>
                                                    <td  th:text="${tachesretdebut.dated}"></td>
                                                    <span th:if="${tachesretdebut.datedu != '3000'}"  >
                                                            <td th:text="${tachesretdebut.datedu}"></td>
                                                    </span>
                                                    <span th:unless="${tachesretdebut.datedu != '3000'}"  >
                                                            <td >Pas encore commencé</td>
                                                    </span>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- ends: .row -->
        </div>

    </div>
    <footer class="footer-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-copyright">
                        <p>2020 @<a href="#">Aazztech</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-menu text-right">
                        <ul>
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Team</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <!-- ends: .Footer Menu -->
                </div>
            </div>
        </div>
    </footer>
</main>
<div id="overlayer">
        <span class="loader-overlay">
            <div class="atbd-spin-dots spin-lg">
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
            </div>
        </span>
</div>
<div class="overlay-dark-sidebar"></div>


<!-- inject:js-->
<script th:src="@{/assets/vendor_assets/js/jquery/jquery-3.5.1.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/jquery/jquery-ui.js}"></script>
<script th:src="@{/assets/vendor_assets/js/bootstrap/popper.js}"></script>
<script th:src="@{/assets/vendor_assets/js/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/moment/moment.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/accordion.js}"></script>
<script th:src="@{/assets/vendor_assets/js/autoComplete.js}"></script>
<script th:src="@{/assets/vendor_assets/js/Chart.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/charts.js}"></script>
<script th:src="@{/assets/vendor_assets/js/daterangepicker.js}"></script>
<script th:src="@{/assets/vendor_assets/js/drawer.js}"></script>
<script th:src="@{/assets/vendor_assets/js/dynamicBadge.js}"></script>
<script th:src="@{/assets/vendor_assets/js/dynamicCheckbox.js}"></script>
<script th:src="@{/assets/vendor_assets/js/feather.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/footable.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/fullcalendar@5.2.0.js}"></script>
<script th:src="@{/assets/vendor_assets/js/google-chart.js}"></script>
<script th:src="@{/assets/vendor_assets/js/jquery-jvectormap-2.0.5.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{/assets/vendor_assets/js/jquery.countdown.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/jquery.filterizr.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/jquery.mCustomScrollbar.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/jquery.peity.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/jquery.star-rating-svg.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/leaflet.js}"></script>
<script th:src="@{/assets/vendor_assets/js/leaflet.markercluster.js}"></script>
<script th:src="@{/assets/vendor_assets/js/loader.js}"></script>
<script th:src="@{/assets/vendor_assets/js/message.js}"></script>
<script th:src="@{/assets/vendor_assets/js/moment.js}"></script>
<script th:src="@{/assets/vendor_assets/js/muuri.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/notification.js}"></script>
<script th:src="@{/assets/vendor_assets/js/popover.js}"></script>
<script th:src="@{/assets/vendor_assets/js/select2.full.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/slick.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/trumbowyg.min.js}"></script>
<script th:src="@{/assets/vendor_assets/js/wickedpicker.min.js}"></script>
<script th:src="@{/assets/theme_assets/js/drag-drop.js}"></script>
<script th:src="@{/assets/theme_assets/js/footable.js}"></script>
<script th:src="@{/assets/theme_assets/js/full-calendar.js}"></script>
<script th:src="@{/assets/theme_assets/js/googlemap-init.js}"></script>
<script th:src="@{/assets/theme_assets/js/icon-loader.js}"></script>
<script th:src="@{/assets/theme_assets/js/jvectormap-init.js}"></script>
<script th:src="@{/assets/theme_assets/js/leaflet-init.js}"></script>
<script th:src="@{/assets/theme_assets/js/main.js}"></script>
<!-- endinject-->
</body>

</html>